 * {box-sizing: border-box;}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: bisque;
}
header {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.ibb.co/WBQ9F0c/Varhaug-kirke.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
#main_heading {
  color: rgb(14, 14, 158);
  
  text-align: center;
}

.div_container {
  display: flex;
}

.div_inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h2 {
  display: flex;
}
