body {
  display: flex;
  justify-content: flex-start;
  background-color: bisque;
}

#main_heading {
  background: url("https://i.ibb.co/WBQ9F0c/Varhaug-kirke.jpg");
  color: rgb(49, 49, 58);
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.div_inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 10px;
  
}

h2 {
  display: flex;
  margin-bottom: 10px;
  
}
